.img-bg{
/* background-image: url("./bg2.jpg");  */
background: rgb(58,71,180);
background: linear-gradient(90deg, rgba(58,71,180,1) 0%, rgba(172,226,244,1) 50%, rgba(73,233,242,1) 100%);
background-position: center; /* Center the image */
background-repeat: no-repeat;/*Do not repeat the image */
background-size: cover;/*Resize the background image to cover the entire container */ 
}

.center-content{
    justify-content: center;
}

.bg-black{
    background-color: black;
    border-color: black;
}

.font-white{
    color: white;
}

.font-black{
    columns: #000000;;
}

.img-login{
    background-image: url("./bg2.jpg");
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.bg-white{
    background: #ffffff;
}

.font-24{
    font-size: 18px;
    font-weight: 600;
}

.login-padding{
    padding: 100px 20px;
}

.login-border-radius{
    border-radius: 3px;
}

.login-padding-20{
    padding-bottom: 20px;
}


.login-padding-top-20{
    padding-top: 60px;
}

.login-padding-6{
    padding-bottom: 6px;
}

.text-center{
    text-align: center;
}

.icon-login-size{
    font-size: 35px!important;
    padding-bottom: 10px;
}

.color-bg-login{
    color: #375862;
}

.btn-login{
    background-color: #375862;
    color: #ffffff;
}


.color-bg-login-gray{
    background: #f0f3f5;
    /* border-radius: 3px; */
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.margin-alert{
    margin-left: -15px;
    margin-right: -15px;
}

.div-position{
    position: relative
}

.div-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.img-login{
    width: 450px;
}

.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #f0f3f5;
    outline: 0;
    box-shadow: none;
}

.input-search-data-table{
    width: 350px;
    float: right;
}

/* 
.footer{
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    color: #23282c;
    background: #f0f3f5;
    border-top: 1px solid #c8ced3;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
} */

@media (max-width: 768px){
    .login-padding {
        padding: 50px 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .div-position {
        position: initial;
    }

    .div-center {
        position: initial;
        top: 0%;
        left: 0%;
        margin-right: 0%;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    .login-padding-top-20 {
        padding-top: 10px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .div-position {
        position: initial;
    }

    .div-center {
        position: initial;
        top: 0%;
        left: 0%;
        margin-right: 0%;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
    .login-padding-top-20 {
        padding-top: 10px;
    }
  }